<div class="container">
</div>


<div id="views">
  <!-- quiz views -->
  <div class="quiz-list">
    <h1>Quizzes</h1>
    <ul></ul>
  </div>
  <li class="quiz"><a href="#" class="quiz-link"></a></li>


  <!-- question view -->
  <div class="question">
    <h1></h1>
    <ul class="choice-list">
    </ul>
  </div>

  <!-- choice view -->
  <li class="choice"><a href="#" class="choice-link"></a></li>

  <!-- score view -->
  <div class="score">
    <h1>Score</h1>
    <p><strong>Correct Answers:</strong> <span class="correct"></span></p>
    <p><strong>Incorrect Answers:</strong> <span class="incorrect"></span></p>
    <div>
      <button>Start Over</button>
    </div>
  </div>
</div>
