<div class="container">
  <div class="start">
    <h1> Welcome, Choose a quiz! </h1>
  </div>





  <div id="quiz-templates" class="hidden">

    <div class="quiz-link">
      <h2><a href="#" class="quiz-name"> </a></h2>
    </div>

    <div class="question">
      <h1> </h1>
      <div class="answers">
        <ul></ul>
      </div>
    </div>

  </div>
  <div class="results hidden">
    <h2>Correct Answers: <h2 id="correct"></h2></h2>
    <h2>Incorrect Answers: <h2 id="incorrect"></h2></h2>
    <a href="#" id="restart">Restart</a>
  </div>
</div>
