<div class="container">
  <div class="start">
    <h1> Welcome, Choose a quiz! </h1>

  </div>

  <div class="quizzes">

  </div>


  <div id="quiz-templates" class="hidden">
    <div id="quiz-link">
      <h2><a href="#" class="quiz-name"> </a></h2>
    </div>

    <div id="new-quiz">

      <div class="current-question"> </div>
    </div>
  </div>
</div>
