html {
  background-color: #3498db;
}

.container {
  margin: 3em;
}

.start {
  text-align: center;
  font-family: helvetica;
}

.start h1 {
  width: 0, auto;
  text-align: center;
  border: 1px solid;
  font-family: helvetica;
  border-radius: 5px;
}

.start h2 {
  margin: 0, auto;
  text-align: center;
  border: 1px solid;
  font-family: helvetica;
  border-radius: 5px;
}

#quiz-link:hover {
background-color: #2980b9;
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}

.question h1 {
  font-family: helvetica;
  border: 1px solid;
  text-align: center;
}

.answers ul {
  padding: 0px 15px;
}

.answers ul li {
  font-family: helvetica;
  font-size: 20px;
  border: 1px solid;
  border-radius: 5px;
  padding: 3px;
  margin: 10px;
  text-align: center;
}


